* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: ivory;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card {
    cursor: pointer;
    width: 340px;
    height: 480px;
    border-radius: 30px;
    transition: .6s linear;
}

.front,.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 30px;
    transition: .6s linear;
    box-shadow: 2px 4px 8px 12px darkgray;
}

.front img {
    height: 100%;
    border-radius: 30px;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}
.back {
    background-color: white;
    transform: perspective(600px) rotateY(180deg);
}

.back_content {
    text-align: center;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
}

.page {
    transition: .2s linear;
}

.card:hover .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(0deg);
}

.page:hover {
    font-size: 18px;
    font-weight: 800;
}