* {
    margin: 0;
    padding: 0;
}

.slider_contents {
    height: 20;
    position: relative;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100vw;
    color: white;
    font-size: 20px;
    height: 400px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slider:nth-child(odd){
    background-color: skyblue;

}

.slider:nth-child(even) {
    background-color: tomato;
}

.showing {
   
    z-index: 1;
    opacity: 1;
}

