* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #007acc;
    transition: 0.8s;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 700px;
    min-width: 200px;
    object-fit: cover;
}

a {
    color: black;
    font-weight: 700;
}

footer {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
}

.section_text {
    margin-left: 5vw;
}

.active_bodycolor {
    background-color: white ;
}